/* css for setting.html goes here  and nav bar */
#heading-setting{
    font-size: 30px;
    text-align: left;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 10px;
    
}


.navbar-brand {
    padding-right: 60px;
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
    color: black;
    font-family: "Slackey", sans-serif;
    
}

.navbar-brand:hover{
    color: white;
}


nav {
    background-color: #D80000;
    margin-left: 0px !important;

}

.py-3{
    color: white;
}
.footertags{
   color: black;
   font-family: "Slackey", sans-serif;
}





.setting-option{
    padding: 20px;
    font-size: 20px;
    color: black;
    
}
.setting-option:hover{
    border: 6px groove rgb(221, 188, 23);

}

.a-forsetting{
    text-decoration: none;
    color: black;
    
}

#settingbody{
    font-family: "Slackey", sans-serif;
}

/* css for the profile.html */
.ui-w-80 {
    width: 80px !important;
    height: auto;
}
.btn-default {
    border-color: rgba(24,28,33,0.1);
    background: rgba(0,0,0,0);
    color: #4E5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background: transparent;
    color: #26B4FF;
}

.btn {
    cursor: pointer;
}

.account-settings-fileinput {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}

#profilebody{
    font-family: "Slackey", sans-serif;
}


/* css for security.html goes here */
 #security-body{
    margin: 20px;
 }

/* css for notification.html goes here */

#notification-body{
    margin: 30px;
    font-family: "Slackey", sans-serif;
}
/* css for problem.html goes here */

#problem-body{
    margin: 20px;
    text-align: center;
    font-family: "Slackey", sans-serif;
}

#appname{
    font-size: 35px;
    font-weight: bold;
   
}



#problem-img{
    
    height: 300px;
    width: 300px;
    margin-left: 0px;
}
#contactus{
    
    font-size: 20px;
    
}

#reportproblem{
    font-size: 20px;
    font-weight: bold;

}

