.nav-item {
    padding-right: 90px;
    padding-left: 20px;
}

nav {
    background-color: #D80000;


}
a {
    color: white;
    font-size: 18px;
    text-align: center;
}

.nav-link {
    color: white;

}

.navbar-brand {
    padding-right: 60px;
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
}

.nav-link:hover {
    background-color: yellow;
    color: blue;
    font-weight: bold;
}

.py-3 {
    color: white;
}

button {
    color: white;
}

.hero-image {
    height: 66vh;
    width: 100%;
    margin-top: 1em;
}

figcaption{
    position: relative;
    bottom: 0;
    top: -35vh;
    background-color: black;
    color: white;
    display: inline-block;
    font-size: 36px;
}




/* style for setting goes from here  */

.item-setting{
    display:block;
    background-color: lightgrey;
    height: 50px;
    font-size: 20px;
    text-transform: capitalize;

}


#document-grid{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    max-height: 100vh;
    
}


img{
    width: 200px;
    height: 200px;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
    max-width: 23vw;
    margin: 10px;
    object-fit: cover;
}

