.nav-item {
    padding-right: 90px;
    padding-left: 20px;
}

nav {
    background-color: #D80000;


}

a {
    color: white;
    font-size: 18px;
    text-align: center;
}

.nav-link {
    color: white;

}

.navbar-brand {
    padding-right: 60px;
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
}

.nav-link:hover {
    background-color: yellow;
    color: blue;
    font-weight: bold;
}

.py-3 {
    color: white;
}

button {
    color: white;
}

.hero-image {
    height: 66vh;
    width: 100%;
    margin-top: 1em;
}

figcaption {
    position: relative;
    bottom: 0;
    top: -35vh;
    background-color: black;
    color: white;
    display: inline-block;
    font-size: 36px;
}

/* style for setting goes from here  */

.item-setting {
    display: block;
    background-color: lightgrey;
    height: 50px;
    font-size: 20px;
    text-transform: capitalize;

}

body#page1 {
    background-color: white;
}

body#page2 {
    background-color: rgb(223, 245, 245);
}
body#page3 {
    background-color: F7D65A;
}

#blockbutton1 {
    color:rgb(106, 59, 39);
    margin-left: 50px;
    margin-right: 50px;
    padding: 50px;
    font-size: 50px;
    border-radius: 70px;
    font-weight: bold;
    border: 6px solid rgb(207, 56, 26);
    text-shadow: 3px 3px 5px rgb(153, 154, 149);
}

#blockbutton2 {
    color:rgb(57, 57, 110);
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
    font-size: 40px;
    border-radius: 70px;
    font-weight: bold;
    border: 6px solid rgb(154, 216, 237);
    text-shadow: 3px 3px 5px rgb(153, 154, 149);
}


.mainname {
    text-shadow: 3px 3px 5px rgb(153, 154, 149);
}

.question {
    text-shadow: 3px 3px 5px rgb(126, 128, 120);
}
.mention {
    text-shadow: 3px 3px 5px rgb(126, 128, 120);
}

/* share line */
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}




/* form control styling, default hidden */

.expandable-form {
    display:none;
}

.mainname{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 35px;
   

}
