.nav-item {
    padding-right: 90px;
    padding-left: 20px;
}

nav {
    background-color: #D80000;
    margin-left: 0px;


}


a {
    color: white;
    font-size: 18px;
    text-align: center;
}

.nav-link {
    color: white;

}

.navbar-brand {
    padding-right: 60px;
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
}

.nav-link:hover {
    background-color: yellow;
    color: blue;
    font-weight: bold;
}

.py-3 {
    color: white;
}

button {
    color: white;
}

.hero-image {
    height: 66vh;
    width: 100%;
    margin-top: 1em;
}

figcaption {
    position: relative;
    bottom: 0;
    top: -35vh;
    background-color: black;
    color: white;
    display: inline-block;
    font-size: 36px;
}




/* style for setting goes from here  */

.item-setting {
    display: block;
    background-color: lightgrey;
    height: 50px;
    font-size: 20px;
    text-transform: capitalize;

}


#document-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    max-height: 100vh;
    justify-content: center;
    overflow: scroll;
    height: 440px;
}


img {
    width: 200px;
    height: 200px;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
    max-width: 23vw;
    margin: 10px;
    object-fit: cover;
}

#document-headline {
    font-weight: bolder;
    font-size: 15pt;
    display: inline-block;
    padding-top: 1em;
}

#upload-button {
    padding: 4em;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #EB4949;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 23px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#center-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;
}